<a href="https://colab.research.google.com/github/sridharbonda/python-for-beginners/blob/master/Lists%2CSets%2CTuples%2CDictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **LISTS**





List is a collection of elements of same or different datatypes.

---



A list is mutable i.e., elements can be added or removed or changed

In [5]:
# creating a list
list1=[2,6,5,4]

# printing a list
print(list1)

# accesing last element
print(list1[-1])

# accesing first element
print(list1[0])

# changing value of item
# changing value of second item
list1[1]=-78
print(list1)

[2, 6, 5, 4]
4
2
[2, -78, 5, 4]

## **List Manipulations**




append()
> It is used to add new element to the list at the end.



insert()
> Using this method a new item can be added at a specified position.



remove()
> It is used to remove the specific item from the list.



clear()

> It empties the list.

In [9]:
list1=[2,8,6,0,16]
list2=["mumbai","chennai","Delhi","Jaipur","Pune"]

# inserting new item at the end
list1.append("numbers")
print(list1)

# inserting new item 
list1.insert(1,"inserted")
print(list1)

# removing item
list2.remove("Delhi")
print(list2)

# clearing the list
list2.clear()
print(list2)

[2, 8, 6, 0, 16, 'numbers']
[2, 'inserted', 8, 6, 0, 16, 'numbers']
['mumbai', 'chennai', 'Jaipur', 'Pune']
[]

# **Slicing of list**

In [15]:
# creating a list
# string "TEST" is splited and each element repeating thrice 
# becomes the element of the list1 
list1=[i*3 for i in "TESTIFY"]
print(list1)

# empty list
list2=[]
list3=[]

# segmented list containing first 3 elements
list2=list1[:3]
print(list2)

# segmented list containing second to second last element
list3=list1[1:-1]
print(list3)

['TTT', 'EEE', 'SSS', 'TTT', 'III', 'FFF', 'YYY']
['TTT', 'EEE', 'SSS']
['EEE', 'SSS', 'TTT', 'III', 'FFF']

## **TUPLES**

Tuples are sequences, just like lists, it is an immutable sequence of Python objects. 

---



The tuples cannot be changed unlike lists i.e., tuples are immutable.

Tuples use parentheses, whereas lists use square brackets.

In [18]:
# Creating a tuple
tuple1=(1,5,7,23,76,89)
print(tuple1)

# accessing 3rd item in tuple
print(tuple1[2])

# accessing last item in tuple
# negative indexing
print(tuple1[-1])

(1, 5, 7, 23, 76, 89)
7
89

## **Tuple methods**



count()
> returns number of times a specific value occurs

index()


>Searches the tuple for a specified value and returns its position

In [24]:
tuple1=(1,5,9,23,7,6,5,8)
tuple2=("mumbai","delhi","pune")
print(tuple1)

# assigning the nuumber of times an specific item repeats
x=tuple1.count(5)
print(x)

# assigning the position of element
y=tuple1.index(23)
print(y)

# to join two tuples + operator is used
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 5, 9, 23, 7, 6, 5, 8)
2
3
(1, 5, 9, 23, 7, 6, 5, 8, 'mumbai', 'delhi', 'pune')

## **SETS** 

A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements.

---
It has a highly optimized method for checking whether a specific element is contained in the set.

Frozenset


> Frozen sets in Python are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.

In [25]:
# creating a set
set1={1,4,5,67,32,76}
print(set1)

# adding an item at the end of set
# using add() method
set1.add(23)
print(set1)

# creating a frozenset
set2=frozenset([1,4,"mumbai"])

{32, 1, 67, 4, 5, 76}
{32, 1, 67, 4, 5, 76, 23}

## **Methods of Sets**

add() or '+'


> it is used for insertion of items in list.

union() or '|'


>used to merge two sets

intersection() or '&'


> common items from two sets get selected

difference() or '-'


> to find differene between two sets

In [29]:
set1={1,2,4,5,6}
set2={2,67,83,90}
set3={i for i in range(5)}

# inserting items
set1.add("mumbai")
print(set1)

# merging two sets
set4=set1.union(set3)
print(set4)

# finding common elements
set5=set2.intersection(set3)
print(set5)

# set2-set6
set6=set2.difference(set3)
print(set6)

{1, 2, 4, 5, 6, 'mumbai'}
{0, 1, 2, 3, 4, 5, 6, 'mumbai'}
{2}
{67, 83, 90}

## **Operators in Sets**

In [31]:
set1={1,2,4,5,6}
set2={2,67,83,90}
set3={i for i in range(5)}

set1.add("mumbai")
print(set1)

set4=set1.union(set3)
print(set4)

set5=set2.intersection(set3)
print(set5)

set6=set2.difference(set3)
print(set6)

# Checking relation between set5 and set6 
if set5 > set6: # set5.issuperset(set6) 
  print("Set5 is superset of Set6") 
elif set5 < set6: # set5.issubset(set6) 
  print("Set5 is subset of Set6") 
else : # set5 == set6 
  print("Set5 is same as Set6") 


# check if set1 and set2 are disjoint sets 
if set1.isdisjoint(set2): 
  print("Set1 and Set2 have nothing in common") 
else:
  print("Set1 and set2 have something in common")

{1, 2, 4, 5, 6, 'mumbai'}
{0, 1, 2, 3, 4, 5, 6, 'mumbai'}
{2}
{67, 83, 90}
Set5 is same as Set6
Set1 and set2 have something in common

## **Dictionaries**

Dictionary in Python is an unordered collection of data values, used to store data values like a map,lists,sets etc which unlike other Data Types that hold only single value as an element.

---
Dictionary keys are case sensitive, same name but different cases of Key will be treated distinctly.

In [34]:
# creating a dictionary
Dict1={"name":"XYZ","age":20}
print("Dictionary Dict1 is",Dict1)

# accessing elements using key
print("Name as in Dict1 is",Dict1["name"],"age is",Dict1["age"])

# accessing elements using get() method
print("Name as in Dict1 is",Dict1.get("name"),"age is",Dict1.get("age"))

# Adding set of values to a single Key 
Dict1['marks'] = 35,67,87
print(Dict1)

# removing a value from dictionary
del Dict1["age"]
print(Dict1)


#nested Dictionary
Dict={'student1':{"name":"XYZ","age":20},
      'student2':{"name":"Bond","age":19}}
#Accessing element using key from nested dictionaries
print("Name of student1 is",Dict["student1"]["name"])

Dictionary Dict1 is {'name': 'XYZ', 'age': 20}
Name as in Dict1 is XYZ age is 20
Name as in Dict1 is XYZ age is 20
{'name': 'XYZ', 'age': 20, 'marks': (35, 67, 87)}
{'name': 'XYZ', 'marks': (35, 67, 87)}

## **Dictionary methods**

pop()


> Removes and returns an element from a dictionary having the given key.

copy()


> It returns a shallow copy of the dictionary.


clear()


> All the items from a dictionary can be deleted at once

In [37]:
Dict1={"name":"XYZ","age":20}

#nested Dictionary
Dict2={'student1':{"name":"XYZ","age":20},
      'student2':{"name":"Bond","age":19}}

pop_ele=Dict1.pop("age")
print("Dictionary Dict1 after deletion:",Dict1)
print("Value associated with poped key is",pop_ele)

# copying Dict1 and assigning it to Dict3
Dict3=Dict1.copy()
print("Shallow copy of Dict1 is Dict3 -",Dict3)

# clearing Dict1
Dict1.clear()
print("Dict1 after clearing",Dict1)

Dictionary Dict1 after deletion: {'name': 'XYZ'}
Value associated with poped key is 20
Shallow copy of Dict1 is Dict3 - {'name': 'XYZ'}
Dict1 after clearing {}