<a href="https://colab.research.google.com/github/sridharbonda/python-for-beginners/blob/master/variables%2C%20datatypes%20%2C%20print%20function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Variables**

Variables are basically ontainers for storing data.
In ptyhon variables hold specific memory loaction for storing data.

## Datatypes

Data types are the classification or categorization of data items.

Built-in data type of Python:


*   Numeric

*   Sequential type(Lists,Tuples,strings)

*   Boolean
*   Set


*   Dictionary

In [0]:
#assigning different datatypes to different variables
a = 5
print("Type of a: ", type(a)) 
  
b = 5.0
print("\nType of b: ", type(b)) 
  
c = 2 + 4j
print("\nType of c: ", type(c))

d = "Hello"
print("\nType of d: ", type(d)) 
  
e = [1,5,4,7,8]
print("\nType of e: ", type(e)) 
  
f = {4,8,"hello"}
print("\nType of c: ", type(f))

Type of a:  <class 'int'>

Type of b:  <class 'float'>

Type of c:  <class 'complex'>

Type of d:  <class 'str'>

Type of e:  <class 'list'>

Type of c:  <class 'set'>

## **Print function in python**

The print() function prints the specified message to the screen, or other standard output device.

In [0]:
# printing a string using print()
print("HELLO EVERYONE")

HELLO EVERYONE

When comma operator is used in print() the python compiler automatically understands the datatype of the each variable , converts the whole data into string and prints it.

In [0]:
a= 10
b =30.5
txt="hello"

print("a is",a,"\nb is",b,"\ntxt is",txt)

a is 10
b is 30.5
txt is hello

Printing multiple times

In [0]:
print("Hello "*3)

Hello Hello Hello