## **COVID Pandemic and Long Queue**

problem code:COVIDLQ

In [0]:
t=int(input())

for i in range(t):

    n=int(input())
    a = list(map(int,input().strip().split()))
    b = list()

    flag=0
    for i in range(n):
      if(a[i]==1):
        b.append(i)

    
    for i in range(len(b)-1):
      if(abs(b[i]-b[i+1])<6):
        flag=flag+1

    if(flag!=0):
      print("NO")
    else:
      print("YES")

2
7
1 0 0 0 0 0 1
YES
10
1 0 0 0 1 0 1 0 0 0
NO

## **TRUTH OR DARE**

problem code: TRUEDARE

In [0]:
t=int(input())
for i in range(t):
   
   tr=int(input())
   Tr=set(map(int,input().strip().split()))

   dr=int(input())
   Dr=set(map(int,input().strip().split()))

   ts=int(input())
   Ts=set(map(int,input().strip().split()))

   ds=int(input())
   Ds=set(map(int,input().strip().split()))
 
   if((Tr.issuperset(Ts)==1) and (Dr.issuperset(Ds)==1)):
      
      
      print("yes")
  
   else:
      print("no")

1
2
4 5
3
4 6 7
1
5
2
6 7
yes

## **Workers**

Problem code: CHEFWORK

In [0]:
n=int(input())

C=list(map(int,input().strip().split()))

T=list(map(int,input().strip().split()))

C1=[]
C2=[]
C3=[]

for i in range(n):
  if(T[i]==1):
    C1.append(C[i])
  elif(T[i]==2):
    C2.append(C[i])
  elif(T[i]==3):
    C3.append(C[i])

if(C1==[] and C2==[] and C3!=[]):
  print(min(C3))

elif(C1!=[] and C2!=[] and C3!=[]):
  k=min(C1)+min(C2)
  p=min(C3)
  if(k>p):
    print(p)
  else:
    print(k)

elif(C1!=[] and C2!=[] and C3==[]):
  print(min(C1)+min(C2))

else:
    print(min(C3))

4
1 3 4 2
1 3 2 1
3

## **Making a meal**

program code: CFMM

In [0]:
t=int(input())

for i in range(t):
  n=int(input())
  a=[]
  b=''
  for x in range(n):
    ingre=str(input())
    a.append(ingre) 
  b=b.join(a)

  a1=b.count("c")//2
  a2=b.count("o")
  a3=b.count("d")
  a4=b.count("e")//2
  a5=b.count("h")
  a6=b.count("f")
  couldrom=[a1,a2,a3,a4,a5,a6]
  print(min(couldrom))

1
3
codechef
cefdchef
codecode
2

## **Lift requests**

Problem code: LIFTME

In [3]:
t=int(input())

for i in range(t):
  
  b=[]
  flo_req=list(map(int,input().strip().split()))
  N=flo_req[0]
  Q=flo_req[1]

  f=0
  c=0
  for i in range(Q):
    x,y=(list(map(int,input().strip().split())))
    f+=abs(c-x)+abs(x-y)
    c=y
  
  print(f)

1
4 5
2 3
1 2
4 2
3 0
4 1
21

## **Guddu on a Date**

Problem code: KS2

In [0]:
def sum(a):
  sum=0
  r=0
  while a>0:
    r=a%10
    a=a//10
    sum=sum+r
  
  return sum


t=int(input())

for i in range(t):
  n=long(input())
  flag=0
  x=1
  while x>0:
    if(sum(x)%10==0):
      flag+=1
      if(flag==n):
        break
      
    x=x+1 
    
  print(x)

## **IPL and RCB**

problem code:CLIPLX

In [0]:
t=int(input())

for i in range(t):

  seq=list(map(int,input().strip().split()))
  X=seq[0]
  Y=seq[1]

  if(X<=Y):
    print("0")
  
  else:
    print(Y-X)

1
4 5
0

## **ATM machine**

problem code: ATM2

In [0]:
t=int(input())

for i in range(t):
  Unit=list(map(int,input().strip().split()))
  N=Unit[0]
  K=Unit[1]
  result=""
  P=list(map(int,input().strip().split()))
  if(len(P)==N):
    for i in range(N):
      if(P[i]<=K):
        print("1",end='')
        K=K-P[i]
      else:
        print("0",end='')
  print()

2
3 4
1 3 1
110
2 3
1 6
10

## **Mahasena**

Problem code: AMR15A

In [0]:
n=int(input())

weapons=list(map(int,input().strip().split()))

if len(weapons)==n:
  odd=0
  even=0
  for i in range(n):
    if(weapons[i]%2==0):
      even+=1
    else:
      odd+=1
    
  if(even>odd):
    print("READY FOR BATTLE")
  else:
    print("NOT READY")

4
11 12 13 14
NOT READY

## **Cats and Dogs** 

Problem code: CATSDOGS

In [0]:
t=int(input())

for i in range(t):
  C,D,L=list(map(int,input().strip().split()))
  CL=C*4
  DL=D*4
  if(L%4!=0):
    print("no")
  elif((L>=DL)and(L<=(DL+CL)and(L>(CL-DL)))):
    print("yes")
  else:
    print("no")